span#msgCount{
	color: $maincolor1;
	font-family: $bodyFont;
	font-size: 20px;
}

div.bar{
	justify-content: space-between;
	position: relative;
}

p#attension, #warn{
	text-align: center;
	font-family: $bodyFont;
	color: #ffffff;
}

#warn{
	color: $black;
}

button.removehistory{
	z-index: 999;
	position: absolute;
	border: none;
	background: transparent;
	width: 50px;
	right: 5px;
	top: 15px;
	@include respond_to(spacing) {
		top: 1px;
	}
	&:hover{
		color: $maincolor1;
	}
}