@import 'setup';
@import 'mixins';
@import 'variables';

// overflow-y: scroll;

/*
	General
*/

.wrapper{
	max-width: 980px;
	margin: 0 auto;
}

a{
	color: inherit;
	text-decoration: none;
	&:hover{
		color:royalblue;
	}
}

#descriptionHtml{
	a{
		color:blue;
	}
}

#chatcontainer{ //this is caused by count in firebase as one of the key
	li:last-child {
		display: none;
	}
}

///////////
/*
	Header Navigation
*/

nav {
	background-color: orange;
	.wrapper{
		text-align: center;
		display: flex;
		#logo{
			align-self: flex-start;
			text-align: left;
		}
		section{
			min-width: 250px;
			// margin-left: auto;
			display: flex; 
			justify-content: space-between;
			align-items: center;
			margin-left: auto;
			.profile_holder{
				display: flex;
			}
			button{
				margin-left: auto;
			}
		}
	}
}

//////////
/*
	SearchForm
*/

#formSubmission form{
	display: flex;
	justify-content: center;
	margin: 30px;
	#locationInput_holder{
		input{

		}
	}
	#keyInput_holder{
		input{

		}
	}
}

//////////
/*
	Additional Results info
*/

#additional_info{
	text-align: center;
}

div.resultCard{
	text-align: center;
	margin-top: 20px;
	border: 10px solid orange;
	border-radius: 10px;
	transition: 0.5s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	&:hover{
		cursor: pointer;
		transform: scale(0.95);
	}
}

div.selfImg_holder, div.otherImg_holder{
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
	img{
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}
}

/*loading
https://www.w3schools.com/howto/howto_css_loader.asp
*/

#loading_holder{
	margin-top: 15%;
	display: flex;
	width: 100%;
	justify-content: center;
	#loader {
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
}


@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}