@import 'setup';
@import 'mixins';
@import 'variables';
@import 'chatroom';
@import 'history';
// footer{
// 	background-color: $maincolor2;
// 	text-align: center;
// 	width: 100%;
// 	height: 50px;
// 	z-index: 99;
// 	p{
// 		line-height: 50px;
// 		margin: 0;
// 	}
// }
/*
	General
*/
html,body {
    height:100%;
}

a#redirection{
	display: flex;
	h4{
		line-height: 60px;
		display: inline;
	}
	img{
		height: 100px;
	}
}

.wrapper{
	max-width: 980px;
	margin: 0 auto;
	padding: 0 1%;
}

ul {list-style-type: none; margin: 0; padding: 0;}

a{color: inherit;	text-decoration: none;}

div.selfImg_holder, div.otherImg_holder{
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
	img{
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}
}

body{
	background-image: url('/public/images/pentagon.png');
	font-family: $headFont;
	height: 100%;
	animation: 20s linear infinite hero;
	@keyframes hero{
		from{
			background-position:0 0;
		}
		to{
			background-position: 600px 0; 
		}
	}
}

#maincontent_holder{
	opacity: 0;
	animation: fade .6s ease-in 1 forwards;
}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: red;
}

#greet{
	font-family: $bodyFont;
	color: #ffffff;
}

#landingText{
	font-family: $bodyFont;
	color: $maincolor1;
	font-size: 50px;
	@include respond_to(small) {
		font-size: 36px;
	}
}

h3{
	@include respond_to(small) {
		font-size: 14px;
	}
}

///////////
/*
	Header Navigation
*/

nav {
	background-color: $maincolor2;
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
	// padding-bottom: 30px;
	@include respond_to(spacing) {
		height: 155px;
	}
	.wrapper{
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		#logo{
			text-align: center;
			font-family: 'Anton', sans-serif;;
			letter-spacing: 1.5px;
			color: $maincolor1;
			text-shadow:  0 4px 9px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.08);
			@include respond_to(spacing) {
				width: 100%;
				padding-right: 36px;
			}
			i{
				position: absolute;
			}
		}
		section{
			min-width: 360px;
			// margin-left: auto;
			display: flex; 
			justify-content: space-around;
			align-items: center;
			margin-left: auto;
			@include respond_to(spacing) {
				margin: 0 auto;
			}
			@include respond_to(small) {
				min-width: 320px;
				transform: scale(0.7);
			}
			.profile_holder{
				display: flex;
				img{
					box-sizing: border-box;
					box-shadow: 0 4px 9px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.08);
				}
			}
			button{
				margin-left: auto;
				box-sizing: border-box;
				box-shadow: 0 4px 9px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.08);
				position: relative;
				/* width: 13em;  - apply for fixed size */
				padding: 1px 18px;
				border: none;
				transition: 0.3s;
				line-height: 34px;
				border-radius: 0.2em;
				color: #FFF;
				background: $maincolor1;
				@include respond_to(spacing) {
					margin-left: 0;
				}
				&:hover{
					transform: scale(0.95);
				}
				&:focus {
				  outline: none;
				}
				&:active {
				  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
				}
			}
		}
	}
}

//////////
/*
	SearchForm
*/

#formSubmission{
	#formHint{
		font-family: $bodyFont;
		margin-top: 2%;
	}
}

#formSubmission form{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	flex-wrap: wrap;
	transition: 0.1s;
	#locationInput_holder{
		margin-right: 0.1%;
		width: 40%;
		transition: 0.2s;
		@include respond_to(spacing) {
			width: 100%;
		}
		input{
			box-shadow: 0 4px 1px rgba(0,0,0,0.12);
			position: relative;
			background-color: #ffffff;
			height: 50px;
			border: none;
			width: 100%;
			padding-left: 30px;
			border-radius: 0.18em 0 0 0.18em;
		}
	}
	#keyInput_holder{
		transition: 0.2s;
		margin-right: 0.1%;
		width: 40%;
		@include respond_to(spacing) {
			width: 100%;
			padding-top: 5px;
		}
		input{
			padding-left: 30px;
			box-shadow: 0 4px 1px rgba(0,0,0,0.12);
			position: relative;
			background-color: #ffffff;
			height: 50px;
			border: none;
			width: 100%;
		}
	}
	button{
		box-sizing: border-box;
		box-shadow: 0 4px 9px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.08);
		position: relative;
		/* width: 13em;  - apply for fixed size */
		padding: 1px 18px;
		border: none;
		transition: 0.3s;
		line-height: 34px;
		border-radius: 0  0.18em 0.18em 0;
		color: #FFF;
		background: rgba(60,100,220,0.79);
		@include respond_to(spacing) {
			width: 50%;
			margin-top: 5px;
		}
		&:focus {
		  outline: none;
		}
		&:active {
		  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
		}
	}
}

//////////
/*
	Additional
*/

#additional_info{
	text-align: center;
	color: #ffffff;
	opacity: 0;
	height: 100%;
	animation: fade .6s ease-in 1 forwards;
	p{
		font-family: $bodyFont;
		font-weight: normal;
	}
}

@keyframes fade {
	to {
	  opacity: 1;
	}
}

#pagination{
	i{
		padding: 4px;
		padding-left: 10px;
		padding-right: 10px;
		&:hover{
			cursor: pointer;
			color: $maincolor1;
		}
	}
}

//////////
/*
	Results card
*/

div.resultCard{
	text-align: center;
	background-color: white;
	margin: 20px auto;
	// border: 5px solid $maincolor1;
	border-radius: 8px;
	transition: 0.5s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display: flex;
	max-width: 880px;
	flex-wrap: wrap;
	&:hover{
		cursor: pointer;
	}
	
	div.eventlogo_holder{
		width: 40%;
		height: 240px;
		padding: 10px;
		@include respond_to(spacing) {
			width: 90%;
			margin: 0 auto;
		}
		img{
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
	}
	div.titledate_holder{
		display: flex;
		flex-direction: column;
		max-height: 240px;
		width: 60%;
		overflow: hidden;
		@include respond_to(spacing) {
			width: 100%;
			justify-content: space-between;
			max-height: 240px;
			padding-left: 6px;
			padding-right: 6px;
			margin-bottom: 8px;
		}
		.title{
			font-family: $bodyFont;
			text-decoration: underline;
			&:hover{
				color: $maincolor1;
			}
		}
		h2{
			width: 98%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h3{
			width: 98%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h5{
			@include respond_to(spacing) {
				margin: 0;
			}
		}
	}
}

/*loading, credit:
https://www.w3schools.com/howto/howto_css_loader.asp
*/
#loading_holder{
	margin-top: 1%;
	display: flex;
	width: 100%;
	justify-content: center;
	#loader {
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid $maincolor1;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}